@model CJCMS.Contracts.DTO.LogonDTO
<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title>昂飞网络信息平台 | 用户登录</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->

	<link href="@Url.Content("~/Content/ForAdmin/css/bootstrap.min.css")" rel="stylesheet" type="text/css"/>

	<link href="@Url.Content("~/Content/ForAdmin/css/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css"/>

	<link href="@Url.Content("~/Content/ForAdmin/css/font-awesome.min.css")" rel="stylesheet" type="text/css"/>

	<link href="@Url.Content("~/Content/ForAdmin/css/style-metro.css")" rel="stylesheet" type="text/css"/>

	<link href="@Url.Content("~/Content/ForAdmin/css/style.css")" rel="stylesheet" type="text/css"/>

	<link href="@Url.Content("~/Content/ForAdmin/css/style-responsive.css")" rel="stylesheet" type="text/css"/>

	<link href="@Url.Content("~/Content/ForAdmin/css/default.css")" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="@Url.Content("~/Content/ForAdmin/css/uniform.default.css")" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<!-- BEGIN PAGE LEVEL STYLES -->

	<link href="@Url.Content("~/Content/ForAdmin/css/login-soft.css")" rel="stylesheet" type="text/css"/>

	<!-- END PAGE LEVEL STYLES -->

	<link rel="shortcut icon" href="@Url.Content("~/Content/ForAdmin/css/image/favicon.ico")" />

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="login">

	<!-- BEGIN LOGO -->

	<div class="logo">

		<img src="@Url.Content("~/Content/ForAdmin/image/logo-big.png")" alt="" /> 

	</div>

	<!-- END LOGO -->

	<!-- BEGIN LOGIN -->

	<div class="content">

		<!-- BEGIN LOGIN FORM -->
@using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { @class = "form-vertical login-form" }))
{
		
			<h3 class="form-title">登录</h3>

			<div class="alert alert-error hide">

				<button class="close" data-dismiss="alert"></button>

				<span>请输入用户名和密码。</span>

			</div>

			<div class="control-group">

				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->

				<label class="control-label visible-ie8 visible-ie9">邮箱</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-user"></i>
                         @Html.TextBoxFor(m => m.Email,new{@Value="1@1.com",@placeholder="邮箱", @class="m-wrap placeholder-no-fix"})
						 @Html.ValidationMessageFor(m => m.Email)

					</div>

				</div>

			</div>

			<div class="control-group">

				<label class="control-label visible-ie8 visible-ie9">密码</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-lock"></i>
                         @Html.PasswordFor(m => m.PlantPwd,new{@Value="123456",@placeholder="密码", @class="m-wrap placeholder-no-fix"})
						
					</div>

				</div>

			</div>

			<div class="form-actions">

				<label class="checkbox">

				@Html.CheckBoxFor(m => m.IsRemember) 记住密码

				</label>
                 
				<button type="submit" class="btn blue pull-right">

				登录 <i class="m-icon-swapright m-icon-white"></i>

				</button>            

			</div>

			<div class="forget-password">

				<h4>忘记密码 ?</h4>

				<p>

					不要紧, 点击<a href="javascript:;" class="" id="forget-password">这里</a>

					来修改你的密码。

				</p>

			</div>

			<div class="create-account">

				<p>

					你还没注册账号 ?&nbsp; 

					<a href="javascript:;" id="register-btn" class="">注册账号</a>

				</p>

			</div>

}

		<!-- END LOGIN FORM -->        

		<!-- BEGIN FORGOT PASSWORD FORM -->

		<form class="form-vertical forget-form" action="/Account/LogOn">

			<h3 class="">忘记密码 ?</h3>

			<p>输入你的邮箱来重置你的密码</p>

			<div class="control-group">

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-envelope"></i>

						<input class="m-wrap placeholder-no-fix" type="text" placeholder="邮箱" name="email" />

					</div>

				</div>

			</div>

			<div class="form-actions">

				<button type="button" id="back-btn" class="btn">

				<i class="m-icon-swapleft"></i> 返回

				</button>

				<button type="submit" class="btn blue pull-right">

				提交 <i class="m-icon-swapright m-icon-white"></i>

				</button>            

			</div>

		</form>

		<!-- END FORGOT PASSWORD FORM -->

		<!-- BEGIN REGISTRATION FORM -->

		<form class="form-vertical register-form" action="/Account/LogOn">

			<h3 class="">注册</h3>

			<p>在下面的框框中填一下下你的信息:</p>

			<div class="control-group">

				<label class="control-label visible-ie8 visible-ie9">用户名</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-user"></i>

						<input class="m-wrap placeholder-no-fix" type="text" placeholder="用户名" name="username"/>

					</div>

				</div>

			</div>

			<div class="control-group">

				<label class="control-label visible-ie8 visible-ie9">密码</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-lock"></i>

						<input class="m-wrap placeholder-no-fix" type="password" id="register_password" placeholder="密码" name="password"/>

					</div>

				</div>

			</div>

			<div class="control-group">

				<label class="control-label visible-ie8 visible-ie9">确认密码</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-ok"></i>

						<input class="m-wrap placeholder-no-fix" type="password" placeholder="确认密码" name="rpassword"/>

					</div>

				</div>

			</div>

			<div class="control-group">

				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->

				<label class="control-label visible-ie8 visible-ie9">邮箱</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-envelope"></i>

						<input class="m-wrap placeholder-no-fix" type="text" placeholder="邮箱" name="email"/>

					</div>

				</div>

			</div>

			<div class="control-group">

				<div class="controls">

					<label class="checkbox">

					<input type="checkbox" name="tnc"/> 我阅读并同意 <a href="#">网站协议</a> 和 <a href="#">用户守则</a>

					</label>  

					<div id="register_tnc_error"></div>

				</div>

			</div>

			<div class="form-actions">

				<button id="register-back-btn" type="button" class="btn">

				<i class="m-icon-swapleft"></i> 返回

				</button>

				<button type="submit" id="register-submit-btn" class="btn blue pull-right">

				注册 <i class="m-icon-swapright m-icon-white"></i>

				</button>            

			</div>

		</form>

		<!-- END REGISTRATION FORM -->

	</div>

	<!-- END LOGIN -->

	<!-- BEGIN COPYRIGHT -->

	<div class="copyright">

		2013 &copy; 昂飞网络信息科技

	</div>

	<!-- END COPYRIGHT -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script src="@Url.Content("~/Content/ForAdmin/js/jquery-1.10.1.min.js")" type="text/javascript"></script>

	<script src="@Url.Content("~/Content/ForAdmin/js/jquery-migrate-1.2.1.min.js")" type="text/javascript"></script>

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<script src="@Url.Content("~/Content/ForAdmin/js/jquery-ui-1.10.1.custom.min.js")" type="text/javascript"></script>      

	<script src="@Url.Content("~/Content/ForAdmin/js/bootstrap.min.js")" type="text/javascript"></script>

	<!--[if lt IE 9]>

	<script src="media/js/excanvas.min.js"></script>

	<script src="media/js/respond.min.js"></script>  

	<![endif]-->   

	<script src="@Url.Content("~/Content/ForAdmin/js/jquery.slimscroll.min.js")" type="text/javascript"></script>

	<script src="@Url.Content("~/Content/ForAdmin/js/jquery.blockui.min.js")" type="text/javascript"></script>  

	<script src="@Url.Content("~/Content/ForAdmin/js/jquery.cookie.min.js")" type="text/javascript"></script>

	<script src="@Url.Content("~/Content/ForAdmin/js/jquery.uniform.min.js")" type="text/javascript" ></script>

	<!-- END CORE PLUGINS -->

	<!-- BEGIN PAGE LEVEL PLUGINS -->

	<script src="@Url.Content("~/Content/ForAdmin/js/jquery.validate.min.js")" type="text/javascript"></script>

	<script src="@Url.Content("~/Content/ForAdmin/js/jquery.backstretch.min.js")" type="text/javascript"></script>

	<!-- END PAGE LEVEL PLUGINS -->

	<!-- BEGIN PAGE LEVEL SCRIPTS -->

	<script src="@Url.Content("~/Content/ForAdmin/js/app.js")" type="text/javascript"></script>

	<script src="@Url.Content("~/Content/ForAdmin/js/login-soft.js")" type="text/javascript"></script>      

    <script type="text/javascript" src="@Url.Content("~/Content/ForAdmin/js/ajaxformtool.js")"></script>
	<!-- END PAGE LEVEL SCRIPTS --> 

	<script>

	    jQuery(document).ready(function () {

	        App.init();

	        Login.init();

	    });

	</script>

	<!-- END JAVASCRIPTS -->

<script type="text/javascript">  var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-37564768-1']); _gaq.push(['_setDomainName', 'keenthemes.com']); _gaq.push(['_setAllowLinker', true]); _gaq.push(['_trackPageview']); (function () { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script></body>

<!-- END BODY -->

</html>